:root {
  --secondary-color: rgb(48, 48, 48);
  --body-color: #000000;
  --header-color: #153E90;
  --task-color: #54E346; 
  --btn-color: #0b5ed7;
  --light-font-color: #ffffff;
  --list-color: #c2c2c2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  background-color: var(--body-color);
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--header-color);
  color: var(--light-font-color);
  height: 75px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
}

header span {
  font-size: 1.5rem;
}

.menu-container {
  position: absolute;
  top: 0;
  right: -66%;
  width: 65%;
  background-color: var(--header-color);
  border-radius: 0 0 0 10px;
  transition: all 0.5s;
  z-index: 10;
}

.container-close-menu {
  height: 75px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
}

.menu-buttons {
  background-color: transparent;
  padding: 5px 10px;
  border: none;
  color: var(--light-font-color);
  font-size: 1.5rem;
}

.open-menu {
  right: 0;
}

header nav li {
  display: inline;
}

header nav a {
  text-decoration: none;
  color: var(--light-font-color);
  display: block;
  text-align: center;
  border-top: 1px solid var(--list-color);
  padding: 15px 0;
}

main {
  flex-grow: 1;
  background-image: url('./assets/images//iguazu.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.list-container {
  background-color: var(--list-color);
  border-radius: 8px;
  padding: 12px;
  width: 100%;
  min-height: 110px;
  margin-bottom: 20px;
}

.list-container>h2 {
  margin-bottom: 10px;
}

.task-list {
  list-style-type: none;
}

.task {
  display: flex;
  align-items: flex-start;
  background-color: var(--task-color);
  border-radius: 4px;
  margin-bottom: 15px;
  padding: 10px 20px 10px 9px;
  cursor: pointer;
  position: relative;
}

.form-style {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-start
}

.input-component {
  border: none;
  border-radius: 4px;
  flex-grow: 1;
  cursor: pointer;
  outline: none;
  background-color: var(--light-font-color);
  font-size: 1rem;
  padding: 7px 10px;
  min-height: 36px;
}

.task-input {
  background-color: var(--task-color);
  width: 100%;
}

.input-active {
  background-color: var(--light-font-color);
  z-index: 1;
}

.card-text {
  flex-grow: 1;
  padding: 9px 10px;
  font-size: 1rem;
}

.btn-component {
  background-color: var(--btn-color);
  color: var(--light-font-color);
  padding: 7px 10px;
  min-height: 36px;
  min-width: 36px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  z-index: 1;
  font-size: 1rem;
}

.btn-component:hover {
  background-color: var(--header-color);
}

.danger {
  background-color: #e03748;
  color: var(--light-font-color);
}

.danger:hover {
  background-color: #c33544;
}

.arrow-btn {
  background-color: transparent;
  color: var(--header-color);
  font-size: 1.1rem;
  min-width: 1.75rem;
  min-height: 1.75rem;
  border-width: 0;
  position: absolute;
  cursor: pointer;
  margin: 'auto';
}

.arrow-btn:hover {
 font-size: 1.65rem;
}

.up {
 top: -6px; 
 left: 0; 
 right: 0; 
}

.down {
 bottom: -10px; 
 left: 0; 
 right: 0; 
}

.back {
 top: 0; 
 bottom: 0; 
 left: -8px;
}

.next {
 top: 0; 
 bottom: 0; 
 right: -7px;
}


footer {
  background-color: var(--secondary-color);
  color: var(--light-font-color);
}

.footer-container>p {
  text-align: center;
  line-height: 25px;
}

.container {
  max-width: 1400px;
  margin: auto;
  padding: 20px;
}


@media screen and (min-width: 993px) {
  .app {
    flex-direction: row;
    justify-content: space-between;
  }

  .menu-container {
    position: static;
    width: auto;
    background-color: transparent;
    border-radius: 0;
  }

  .container-close-menu {
    display: none;
  }

  .menu-buttons {
    display: none;
  }

  header nav ul {
    display: flex;
    flex-direction: row;
  }

  header nav a {
    border: none;
    margin-left: 30px;
    padding: 5px 15px;
    margin: 0 3px;
  }

  .list-container {
    width: 32%;
    margin-bottom: 0;
  }
}